<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="AutoRegister.ExceptTypes" value="" />
  <add key="UseFirstElasticServerAsPrimaryWhenIndex" value="False" />
  <add key="IndexPrefix" value="ecommerce_" />
  <add key="UseDynamicTemplateAttachment" value="False" />
  <add key="ElasticServer" value="localhost" />
  <add key="ElasticServerPort" value="9200" />
  <add key="ElasticServerTimeout" value="0" />
  <add key="timeoutFactorSec" value="20" />
  <add key="ElasticVersion" value="2" />
</appSettings>